.wrapFooter{
    width: 100%;
    height: 55px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    color: rgba(128, 128, 128, 0.611);  
}
.footerMenu{
    display: flex;
    flex-direction: row;
    grid-gap:15px;
}
.footerMenu > li{
    padding: 5px;
}
.footerMenu > li:hover{
    cursor: pointer;
    border:1px solid red;
}
.clearCompleted{
    background-color: transparent;;
    color: rgba(128, 128, 128, 0.611);
}