.wrap{
    width: 100%;
    min-height: 350px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}
.item{
    width: 600px;
    height: 300px;
    border:1px solid rgba(0, 0, 0, 0.15);
    position: absolute;
    z-index: 10;
    background-color:#ffffff;
    display: flex;
    flex-direction: column;
}
.item:first-child{
    box-shadow:10px 6px 20px rgba(0, 0, 0, 0.2);
}
.item:nth-child(2){
    transform: translateY(5px);

    z-index: 2;
    width: 590px;
}
.item:nth-child(3){
    transform: translateY(10px);
    z-index: 1;
    width: 580px;
}
